* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Page */
header {
    position: sticky;
    top: 0;
    padding: 2vh 2vh;
    background-color: #D20823;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    z-index: 1000;
}

header h1 {
    color: white;
    font-size: 8vh;
    font-style: italic;
    font: weight 400;
    font-family: 'Arial', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    margin-left: 2vh;
}

header h1 img {
    width: 8vh;
    height: 8vh;
    margin-right: 2vh;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 2vh;
}

header nav ul li a {
    text-decoration: none;
    margin: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 250px;
    color: black;
    display: inline-block;
    padding: 1vh 2vh;
    background-color: white;
    border-radius: 1vh;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: black;
    color: #D20823;
}

#hamburger {
    background-color: #D20823!important;    
}

.imageninicio {
    background-image: url(./Imges/ImagenFondoLDA.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageninicio h2 {
    font-size: 5vh;    
}

.imageninicio div button {
    background-color: red;
    border: none;
    color: white;
    padding: 2vh 4vh; 
    text-decoration: none;
    font-size: 2.5vh; 
    margin-top: 1.5vh; 
    transition: background-color 0.3s, color 0.3s;
    border-radius: 2vh;
}

.imageninicio div button:hover {
    background-color: white;
    color: black;
}

.imageninicio div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4vh;
}

.historia {
    padding: 5vh;
    background-color: red;
    color: white;
}

.historia h2 {
    align-items: center;
    margin-bottom: 3vh;
}

.ContenidoHistoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vh;
}

.ContenidoHistoria div {
    height: 40vh;
    width: 60vh;
}
.ContenidoHistoria img {
    height: 40vh;
    width: 40vh;
}
#carouselExample {
    margin-left: 25vh ;
}

.ContenidoHistoria p {
    width: 50%;
}

.Idolos {
    text-align: center;
}

.Idolos h2 {
    font-size: 3vh;
    margin-bottom: 2.5vh; 
    margin-top: 2.5vh; 
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-bottom: 2vh;

}

.card {
    width: 35vh;
    margin: 3vh;
}

.card img {
    height: 42vh;
    object-fit: cover;
}

.card-body {
    background-color: #f8f9fa;
}

.btn-rojo {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.btn-rojo:hover {
    background-color: darkred;
}

.Titulostienda {
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr)); 
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
}

.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px ;
}
.contenedor-items .item:hover{
    box-shadow: 0 0 10px black;
    scale:1.05;
}
.contenedor-items .item .img-item{
    width: 100%;
}
.contenedor-items .item .titulo-item{
    display: flex;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: red ;
    color: #fbf3db ;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito{
    border: 2px solid black ;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top:0;
    opacity: 0;
    margin-right: -100%;
}

.carrito .header-carrito{
    background-color: red;
    color:#fbf3db;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom:2px solid black;
    padding: 20px;
}

.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 20px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color:red;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
     pointer-events: none;   
}
.carrito .carrito-item .btn-eliminar:hover{
    scale: 1.02;
}
.carrito-total{
    background-color: #fbf3db;
    padding: 20px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-item-detalles{
    display: inline;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background-color: red;
    color: #fbf3db;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.carrito-total .btn-pagar:hover{
    scale: 1.02;
}



.Asociarse {
    padding: 5vh;
    background-color: #D20823;
    color: #000;
    text-align: center;
}

.Asociarse h2 {
    font-size: 3vh; 
    margin-bottom: 3vh; 
}

.Asociarse h3 {
    font-size: 2vh; 
    margin-bottom: 2.5vh; 
}

.form-group {
    margin: 0 auto 3vh; 
    max-width: 45vh; 
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5vh;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 0.8vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    font-size: 1.4vh;
}

button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 1.5vh 3vh;
    border-radius: 1.5vh; 
    font-size: 2.3vh; 
    cursor: pointer;
    transition: background-color 0.3s;
}

footer {
    background-color: black;
}
footer img {
    margin-top: 3vh;
    margin-left: 8vh;
    margin-right: 8vh;
    margin-bottom: 2vh;
}

.Redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Redes img {
    height: 8vh; 
    width: 8vh;
}

@media screen and (max-width: 768px) {
   
    header h1 {
        font-size: 2,5vh;
    }
    

    header {
        position: sticky;
    }

    .navbar-toggler-right {
        margin-left: auto;
        margin-right: 0.5vh;
        color: #D20823; 
    }
    nav {
        color: #D20823;
    }
    
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #D20823; 
        z-index: 1000; 
        display: none; 
    }
    
    .navbar-collapse.show {
        display: block; 
    }
    
   
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar-nav li {
        margin: 1rem 0;
    }
    
  
    header h1 {
        font-size: 3vh;
        margin-top: 1.5vh; 
    }
    
    .navbar-nav {
        margin-left: auto;
        margin-right: 2vh;
    }

   
    .navbar-nav li {
        margin-left: 1rem;
    }

   
    .navbar-brand {
        margin-right: auto;
        margin-left: 2vh;
    }

   #carouselExample {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    .historia .ContenidoHistoria {
        flex-direction: column;
        align-items: center;
        
    }

    .ContenidoHistoria p {
        width: 100%;
    }

    .card-container {
        margin: 2vh;
    }

    .card {
        width: 30vh;
        margin: 0;
    }
    
    .tienda #secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tienda .card-container {
        display: block; 
        margin: 10px auto; 
    }

    .tienda .card {
        width: 90%; 
        margin: 10px auto; 
    }

    .tienda .card img {
        height: auto; 
        width: 100%; 
    }

    .tienda .card-body {
        padding: 10px; 
    }

    .tienda .card-title {
        font-size: 1.2em; 
        margin-bottom: 5px; 
    }

    .tienda .card-text {
        font-size: 0.9em; 
    }

    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100% !important;
        margin: 20px 20px 20px 20 px;
    }


    footer img {
        margin-top: 3vh;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 2vh;
    } }